.input-group-text {
    background-color: transparent;
    border-right: none;
}

.input-group .form-control {
    border-left: none;
}

.input-group .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.btn-primary {
    background-color: #4285f4;
    border-color: #4285f4;
    padding: 12px;
}

.form-group {
    margin-bottom: 1.5rem;
}