
<!-- Incluso nel template tutti_prodotti.html (row 36)-->

{% for prodotto in prodotti %}
<tr>
    <td>
        <a href="{% url 'scontrini:dettagli_prodotto' pk=prodotto.prodotto__id %}?filtro={{ filtro_attuale }}" class="text-primary text-decoration-none">
            {{ prodotto.prodotto__nome }}
        </a>
    </td>
    <td>{{ prodotto.quantita_ordinata }}</td>
    <td>{{ prodotto.totale_speso|floatformat:2 }} €</td>
    <td>{{ prodotto.numero_supermercati }}</td>
    <td>{{ prodotto.prezzo_medio|floatformat:2 }} €</td>
</tr>
{% endfor %}