{% extends 'scontrini/base.html' %}
{% load static %}

{% block title %}Carica Scontrino{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm rounded">
        <div class="card-body">
            <h1 class="text-center mb-4">Carica Scontrino</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="data">Data</label>
                    {{ scontrino_form.data }}
                </div>
                <div class="form-group">
                    <label for="negozio_nome">Nome Negozio</label>
                    {{ scontrino_form.negozio_nome }}
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#aggiungiProdottoModal">
                        Aggiungi Prodotto
                    </button>
                    <button type="submit" name="salva_scontrino" id="salva_scontrino_button" class="btn btn-success" disabled>
                        Salva Scontrino
                    </button>
                </div>
                <input type="hidden" id="prodotti_count" name="prodotti_count" value="{{ prodotti|length }}">
            </form>

            <h3 class="mt-4">Prodotti Aggiunti</h3>
            <div class="table-responsive">
                <ul id="prodotti-list" class="list-group">
                {% for prodotto in prodotti %}
                    <li class="list-group-item">{{ prodotto.prodotto }} - {{ prodotto.quantita }} x {{ prodotto.prezzo_unitario }} €</li>
                {% empty %}
                    <li id="no-prodotti" class="list-group-item">Nessun prodotto aggiunto</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aggiungiProdottoModal" tabindex="-1" role="dialog" aria-labelledby="aggiungiProdottoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aggiungiProdottoModalLabel">Aggiungi Prodotto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="aggiungiProdottoForm">
                    <div class="form-group">
                        <label for="nome_prodotto">Nome Prodotto</label>
                        <input type="text" class="form-control" id="nome_prodotto" name="nome_prodotto" required>
                    </div>
                    <div class="form-group">
                        <label for="quantita">Quantità</label>
                        <input type="number" class="form-control" id="quantita" name="quantita" required>
                    </div>
                    <div class="form-group">
                        <label for="prezzo_unitario">Prezzo Unitario</label>
                        <input type="number" step="0.01" class="form-control" id="prezzo_unitario" name="prezzo_unitario" required>
                    </div>
                    <div id="error-message" class="alert alert-danger d-none" role="alert">
                        Quantità con cifre decimali non permesse, arrotondamento all'intero più vicino.
                    </div>
                    <button type="button" class="btn btn-primary" id="addProductButton">Aggiungi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Includi il file JavaScript -->
<script src="{% static 'scontrini/js/carica_scontrino.js' %}"></script>
<script>
    // Passa le variabili Django al file JavaScript
    const aggiungi_prodotto_url = "{% url 'scontrini:aggiungi_prodotto' %}";
    const csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}